<style>

h1{
    color: blue;
}

img {
    width: 300px;
}
#thirdDiv {
    height: 500px;
    width: 600px;
    background-color: beige;
    padding: 50px;
    border: 10px solid black;
}
#spanId{
    margin: 50px;
    font-size: 20px;
}
</style>